body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(65, 65, 65);
  margin: 0;
  font-family: Arial, sans-serif;
}

.piano {
  display: flex;
  background: black;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  user-select: none;
  overflow-x: auto;
  max-width: 98vw;
}

.white-key {
  width: 33.8px;
  height: 150px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  margin-right: 2px;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}

.black-key {
  width: 23px;
  height: 100px;
  background: black;
  border-radius: 0 0 3px 3px;
  position: absolute;
  z-index: 2;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  flex-shrink: 0; 
  top: 10px;
}

.white-key:hover {
  background: #f0f0f0;
}

.black-key:hover {
  background: #333;
}

.key-label {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #888;
}

.black-key .key-label {
  color: #ddd;
}

#notePressedInfo {
  position: relative;
  text-align: center;
  color: white;
  font-size: 18px;
}

.menu {
  position: fixed;
  top: 20px; 
  left: 20px; 
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 15px;
  max-width: 200px;
  flex-wrap: wrap;
}

#toggleInfo {
  padding: 8px 12px;
  background: #ffb158;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#toggleInfo:hover {
  background: #e69a48;
}

.form-select {
  padding: 8px;
  font-size: 14px;
}

.slide-bar {
  position: fixed;
  bottom: 10vh;
  border-radius: 4px;
}

.dropdown-item:hover {
  background-color: #90D5FF;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 10;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.centerContent {
  background: linear-gradient(to bottom, white, gray);
  z-index: 11;
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rgbaInputs {
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#recordButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#recordButton:hover {
  background-color: rgb(145, 0, 0);
}

#playButton {
  position: absolute;
  top: 75px;
  right: 10px;
  padding: 10px 20px;
  background-color: rgb(0, 255, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#playButton:hover {
  background-color: rgb(0, 119, 20);
}