<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">

    <title>piano</title>
</head>
<body>
    <div class="piano" id="piano"></div>
    
    
    <div class="menu">
        <button id="toggleInfo">Toggle Key Clicked</button>
        <select id="selectColor" class="form-select">
            <option selected>Orange</option>
            <option value="1">Red</option>
            <option value="2">Green</option>
            <option value="3">Blue</option>
        </select>

        <div id="information"></div>
    </div>

    <script src="/static/scripts/createPiano.js"></script>
    <script src="/static/scripts/playSounds.js"></script>
    <script src="/static/scripts/visualNotes.js"></script>
    <script src="/static/scripts/menuChanges.js"></script>
</body>
</html>