{% extends "layout.html" %}

{% block title %}Piano{% endblock %}

{% block main %}
    <div class="menu">
        <button type="button" id="toggleInfo">Toggle Key Clicked</button>
        <div id="notePressedInfo"></div>

        <select id="selectColor" class="form-select">
            <option selected value="Orange">Orange</option>
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Custom">Custom</option>
            <option id="customColor" value="customColor" disabled>Your Custom Color</option>
        </select>

        <input id="ttl" class="form-control" type="number" placeholder="Time to Live (ms)" min="0">
        
        <button class="btn btn-success" id="recordButton"><i class="fa-solid fa-play"></i></button>
        <button class="btn btn-secondary" id="playButton">Play Recording</button>
        <button class="btn btn-warning" id="saveButton">Save Recording</button>
    </div>

    <div id="gradiant"></div>

    <div id="background" hidden>
        <form id="customColorsForm">
            <div class="centerContent">

                <div class="mb-3">
                    <label class="form-label">White Keys</label>
                    <label style="float: right"><a target="_blank" href="https://rgbacolorpicker.com/">RGBA</a></label>
                    <div class="input-group input-group-sm rgbaInputs">
                        (<div style="margin-right: .75rem;"></div>
    
                        <input required type="number" class="form-control colors" id="WTR" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control colors" id="WTG" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control colors" id="WTB" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control transparencies" id="WTT" min="0" max="1" step="0.1" placeholder="0.8"> 
                        
                        <div style="margin-right: .75rem;"></div>)
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group input-group-sm rgbaInputs">
                        (<div style="margin-right: .75rem;"></div>
    
                        <input required type="number" class="form-control colors" id="WBR" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control colors" id="WBG" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control colors" id="WBB" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control transparencies" id="WBT" min="0" max="1" step="0.1" placeholder="0.8"> 
                        
                        <div style="margin-right: .75rem;"></div>)
                    </div>
                </div>
    
                <div class="mb-3">
                    <label class="form-label">Black Keys</label>
                    <div class="input-group input-group-sm rgbaInputs">
                        (<div style="margin-right: .75rem;"></div>
    
                        <input required type="number" class="form-control colors" id="BTR" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control colors" id="BTG" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control colors" id="BTB" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control transparencies" id="BTT" min="0" max="1" step="0.1" placeholder="0.8"> 
                        
                        <div style="margin-right: .75rem;"></div>)
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group input-group-sm rgbaInputs">
                        (<div style="margin-right: .75rem;"></div>

                        <input required type="number" class="form-control colors" id="BBR" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control colors" id="BBG" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control colors" id="BBB" min="0" max="255" placeholder="0">
                        <div style="margin-right: .5rem;"></div>,<div style="margin-right: .5rem;"></div>
                        <input required type="number" class="form-control transparencies" id="BBT" min="0" max="1" step="0.1" placeholder="0.8"> 
                        
                        <div style="margin-right: .75rem;"></div>)
                    </div>
                </div>
                
                <button id="customColorBtn" type="submit" class="btn btn-primary">Enter</button>

            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/createPiano.js"></script>
{% endblock %}