<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">

    <title>piano</title>
</head>
<body>
    <div class="piano" id="piano"></div>
    <div id="information"></div>
    <script src="/static/createPiano.js"></script>
    <script src="/static/playSounds.js"></script>
    <script src="/static/visualNotes.js"></script>
    <button id="toggle-info">Toggle Key Clicked</button>

</body>
</html>